.updateFuelEntryForm {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 610px;
    height: auto;
    background-color: #1F2A40;
    padding: 35px;
    border-radius: 15px;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #ff0000;
    border: none;
    border-radius: 15px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 18px;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
  }