.uniqueMaintenanceForm {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 600px;
    height: auto;
    background-color: #1F2A40;
    padding: 35px;
    border-radius: 15px;
  }