
.addFuelconsumption-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #ff0000;
  border: none;
  border-radius: 15px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 18px;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
}