.updateFuelEntryForm {
  position: absolute;
  top: 65%;
  left: 55%;
  transform: translate(-50%, -50%); 
  width: 610px;
  height: auto;
  background-color: #1F2A40;
  padding: 35px;
  border-radius: 15px;
  overflow: hidden;
}

